* {
	scroll-behavior: smooth;
}

.chapters-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.chapter {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.cards-wrapper {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.card {
	width: 100%;
	height: fit-content;
}

.exercises-wrapper {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 5px 10px;
}

.link {
	color: black;
	font-size: 18px;
}
