<div class='container'>
	<div class='row'>
		<span style='float:left;padding:3px;'><a href='https://creativecommons.org/licenses/by/3.0/deed.nl' target=_blank rel="noopener"><img src='/public/assets/by.png' height='30px'/></a>
		</span>
		<span style='float:left;padding:8px 3px;'>Oefeningengenerator 
			<a style='color:purple;font-weight:bold;text-decoration:none;' href='https://www.wiskundeoefeningen.be/'>wiskundeoefeningen.be</a> <?php echo date("Y-m-d H:i:s");?>
			</br>Een site van <a style='color:purple;font-weight:bold;text-decoration:none;' href='https://www.busleydenatheneum.be/'>Busleyden Atheneum Mechelen</a>
		</span>
	</div>
</div>
</body></html>
